body {
  color: #36312d
}

.wrapper {
  background-color: #333
}

.content {
  background-color: white;
}

.menu {
  background-color: white;
}

.reference, .joke {
  color: #0c5460;
  background-color: #d1ecf1;
  padding: .75rem 1.25rem;
  margin-left: 0.1rem;
  border: 1px solid #bee5eb;
  border-top: 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  float: right;
  min-width: 30%;
  max-width: 50%;
  margin-bottom: 0.5rem;
}

.reference p, .joke p {
  margin-bottom: 0;
}

.has_joke {
  border-top: 1px solid #bee5eb;
  border-bottom: 1px solid #bee5eb;
}

.clear {
  clear: right;
}

.has_joke + .has_joke {
  margin-top: 5px;
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-warning {
    border-left-color: #f0ad4e;
}

.episode-text {
   overflow-wrap: break-word;
   word-break: break-word;
}

.concise .reference p, .concise .joke p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.concise .sentence:hover .reference p, .concise .sentence:hover .joke p {
  overflow: auto;
  white-space: normal;
  text-overflow: clip;
}


@media only screen and (max-width: 768px) {
  .reference, .joke {
    min-width: 20%;
    font-size: 0.85em;
  }
}

@media only screen and (min-width: 1200px) {
  .menu {
    min-height: 95%;
  }
}
