# On utilise PHP5 pour les classes...
AddType x-mapp-php5 .php
AddHandler x-mapp-php5 .php

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------
RewriteRule ^Episode-([1-9]?[0-9])$ /Res/Reflets/index.php?E=$1 [L]
RewriteRule ^(Krak|Avril|BoitePerdue|BoitePerdue_2|Noel_d_Acide|Joyeux_Noel|Franconie|Fleau|Narrateur_Avril|Alkoor|Mordave|Cadeau_Acide|Cadeau_Accidentel)$ /Res/Reflets/index.php?E=$1 [L]
RewriteRule ^-Stats$ /Res/Stats.php?For=Reflets [L]