    </main>

    <header class="col-12 col-md-3 col-xl-2 order-md-1 order-2 menu">
      {% if page.saga %}
        {%- assign saga = site.data.sagas[page.saga] -%}
        <h3 class="text-center mt-2"><a href="/{{ page.saga }}">{{ saga.name }}</a></h3>
        <h4 class="text-center">Épisodes</h4>
        <div class="list-group">
          {% include episodes_in_saga.html class="list-group-item list-group-action small" %}
        </div>
        {% comment %}Bonuses should only be displayed if they exist{% endcomment %}
        {% capture potential_bonuses %}
        {% include bonuses_in_saga.html class="list-group-item list-group-action small" %}
        {% endcapture %}
        {% assign potential_bonuses = potential_bonuses | strip %}
        {% if potential_bonuses != "" %}
        <h4 class="text-center mt-2">Bonus</h4>
        <div class="list-group">
          {{ potential_bonuses }}
        </div>
        {% endif %}
      {% else %}
        <h3 class="text-center mt-2"><a href="/">Sagas MP3</a></h3>
        {% include all_sagas.html %}
      {% endif %}
    </header>
  </div>
</div>

<div class="text-center">
  <small>Proposez vos changements sur <a href="https://github.com/Neamar/sagas-mp3/blob/master/CONTRIBUTING.md#comment-contribuer-">Github</a> !</small>
</div>
</body>
</html>
