<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {%- assign saga = site.data.sagas[page.saga] -%}
  <title>{% if page.layout == "text" %}{{ saga.name }} {{ page.episode }} : {{ page.title }} | Texte, références et jeux de mots{% else %}{{ page.title}}{% endif %}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/design.css">
  <script async defer data-domain="sagas.neamar.fr" src="https://t.neamar.fr/js/pls.js"></script>
  {% seo title=false %}
</head>
<body>
<div class="container-fluid wrapper">
  <div class="row">
     <main class="col-12 col-md-9 col-xl-8 offset-xl-1 order-md-2 order-1 content">
