# On utilise PHP5 pour les classes...
AddType x-mapp-php5 .php
AddHandler x-mapp-php5 .php

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------
RewriteRule ^Episode-([1-9]?[0-9])$ /Res/Adoprixtoxis/index.php?E=$1 [L]
RewriteRule ^(Joyeux_Noyel|Petite_Pub_Bonus|Ununktapalach|Bande_Annonce|Hiver_Dernier)$ /Res/Adoprixtoxis/index.php?E=$1 [L]
RewriteRule ^-Stats$ /Res/Stats.php?For=Adoprixtoxis [L]