{%- include header.html -%}

  {%- assign saga = site.data.sagas[page.saga] -%}
  <nav aria-label="breadcrumb" class="m-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Sagas MP3</a></li>
      <li class="breadcrumb-item active">{{ saga.name }}</li>
    </ol>
  </nav>

  {{ content }}

  {% if page.download %}
  <hr />
  <p class="alert alert-info">Site officiel de la saga : <a href="{{ page.download }}">{{ page.download }}</a></p>
  {% endif %}

{%- include footer.html -%}

