{%- include header.html -%}

  {%- assign saga = site.data.sagas[page.saga] -%}
  <nav aria-label="breadcrumb" class="m-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Sagas MP3</a></li>
      <li class="breadcrumb-item active">{{ saga.name }}</li>
    </ol>
  </nav>

  <div class="lead">
    {{ content }}
  </div>

  {% if page.download %}
  <hr />
  <p class="alert alert-info">Site officiel de la saga : <a href="{{ page.download }}">{{ page.download }}</a></p>
  {% endif %}

  {% if page.thanks %}
  <hr />
  <div class="small">
    <p>Quelques remerciements aux personnes qui ont aidé à trouver toutes ces références :</p>

    {{ page.thanks | markdownify }}
  </div>
  {% endif %}
{%- include footer.html -%}

