{%- include header.html -%}

  {%- assign saga = site.data.sagas[page.saga] -%}
  <nav aria-label="breadcrumb" class="m-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Sagas MP3</a></li>
      <li class="breadcrumb-item"><a href="/{{ page.saga }}">{{ saga.name }}</a></li>
      <li class="breadcrumb-item active">{{ page.title }}</li>
    </ol>
  </nav>

  <div class="callout callout-warning">
    <p>Cette œuvre est un travail collaboratif basé sur l'ouvrage de {{ saga.auteur }}. Les internautes ayant participé sont listés sur <a href="/{{ page.saga }}">la page d'accueil du projet {{ saga.name}}</a>.<br />
    Une subtilité n'est pas référencée ? N'hésitez pas à la <a href="https://github.com/Neamar/sagas-mp3/blob/master/CONTRIBUTING.md">signaler</a> !</p>
  </div>

  {%- include pagination.html episode=page.episode saga=page.saga episodes=saga.episodes -%}

  <h1>{{ page.title }}</h1>

  {%- assign lines = content | newline_to_br | split: '<br />' -%}

  {%- assign current_line = '' -%}

  <div class="episode-text">
  {%- for line in lines -%}

    {%comment%} Is it a chapter? {%endcomment%}
    {%- assign first_characters = line | lstrip | slice: 0, 9 -%}
    {%- if first_characters == "Chapitre " -%}
      {%comment%} If chapter: display last sentence, then display chapter heading {%endcomment%}
      {% include sentence.html sentence=current_line %}
      {% assign current_line = '' %}

      <h2 id="{{ line | slugify }}">{{ line |replace: " - ", " &ndash; " }}</h2>
      {%- continue -%}
    {%- endif -%}

    {%comment%} Is it an empty line? {%endcomment%}
    {%- assign stripped_line = line | strip -%}

    {%- if stripped_line == "" -%}
      {%- continue -%}
    {%- endif -%}

    {%comment%} Then it's a normal line {%endcomment%}
    {%comment%} It can be a new line with a new speaker, or the remainder of the previous sentence {%endcomment%}

    {%- assign has_speaker = line | split: ' :' -%}

    {%- if has_speaker.size >= 2 -%}
      {%comment%} New speaker, means previous sentence can be displayed and we can start a new one {%endcomment%}
      {%- include sentence.html sentence=current_line -%}
      {%- assign current_line = line -%}
      {%- continue -%}
    {%- else -%}
      {%comment%} Speaker hasn't changed, append to previous line {%endcomment%}
      {%- assign current_line = current_line | append: "<br />" | append: line -%}
    {%- endif -%}
  {%- endfor -%}

  {%comment%} Ensure last line is displayed, even after the forloop {%endcomment%}
  {%- include sentence.html sentence=current_line -%}
  </div>

  {%- include pagination.html episode=page.episode saga=page.saga episodes=saga.episodes -%}

{%- include footer.html -%}
