{% include header.html %}

  {% assign saga = site.data.sagas[page.saga] %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Sagas MP3</a></li>
      <li class="breadcrumb-item"><a href="/{{ page.saga }}">{{ saga.name }}</a></li>
      <li class="breadcrumb-item active"><a href="{{ page.url }}">{{ page.title }}</a></li>
    </ol>
  </nav>

  <h1>{{ page.title }}</h1>

  {% assign lines = content | newline_to_br | split: '<br />' %}

  {% for line in lines %}

    {%comment%} Is it a chapter? {%endcomment%}
    {% assign first_characters = line | lstrip | slice: 0, 9 %}
    {% if first_characters == "Chapitre " %}
      <h2>{{ line |replace: " - ", " &ndash; " }}</h2>
      {% continue %}
    {% endif %}

    {%comment%} Is it an empty line? {%endcomment%}
    {% assign stripped_line = line | strip %}

    {% if stripped_line == "" %}
      {% continue %}
    {% endif %}

    {%comment%} Then it's a normal line {%endcomment%}
    {% assign speaker = line | split: ' :' | first %}
    {% assign to_remove = speaker | append: " :" %}
    {% assign sentence = line | remove_first: to_remove %}
    {% assign stage_direction = "" %}

    {% if speaker == line %}
      <p style="color:red">{{ line }}</p>
      {% continue %}
    {% endif %}

    {% assign first_characters = sentence | slice: 0, 2 %}
    {% if first_characters == " (" %}
      {% comment %} There is some kind of stage direction{% endcomment %}
      {% assign stage_direction_with_parens = sentence | split: ")" | first %}
      {% assign stage_direction = stage_direction_with_parens | slice: 2, 100000 %}
      {% assign to_remove = stage_direction_with_parens | append: ")" %}
      {% assign sentence = sentence | remove_first: to_remove %}
    {% endif %}

    {% include sentence.html speaker=speaker stage_direction=stage_direction sentence=sentence %}
  {% endfor %}
{% include footer.html %}
